# Switch this value to the backend you want the app to use.
# Local example:
# EXPO_PUBLIC_API_URL=http://192.168.1.10:4000
#
# Deployed example:
# EXPO_PUBLIC_API_URL=https://nonetpay.onrender.com

EXPO_PUBLIC_API_URL=http://192.168.1.10:4000
